body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 2px;
  position: relative;
}
header img {
  height: 4vh;
  margin: 3px 1vw;
}
header #header-google-logo {
  height: 2.5vh;
  position: absolute;
  left: 0;
}
header a {
  color: gray;
  margin: 3px 4vw;
}
header a:link, header a:visited {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  margin-bottom: 20vh;
  /*Images Logo*/
}
#search img {
  max-width: 300px;
  margin: 20px;
}
#search #images_logo {
  width: 300px;
  height: 120px;
  position: relative;
}
#search #images_logo #images_logo_text {
  color: #4285f4;
  font-size: 18px;
  position: absolute;
  bottom: -10%;
  left: 78%;
}
#search form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#search form #query {
  width: 45%;
  min-width: 300px;
  max-width: 548px;
  padding: 10px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
}
#search form #query:hover {
  box-shadow: 1px 1px 7px 2px lightgray;
}
#search form #buttons {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#search form #buttons input {
  padding: 14px;
  border-style: none;
  margin: 5px;
  border-radius: 5px;
}
#search form #buttons #btn1 {
  margin-right: 10px;
}
#search form #buttons #btn2 {
  margin-left: 10px;
}
#search form #buttons input:hover {
  border: 1px solid #dfe1e5;
  box-shadow: 1px 1px lightgray;
}
#search #instruction_advanced_search {
  position: absolute;
  top: 35%;
  left: 5%;
}
#search #advanced_form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 90%;
  position: relative;
  font-size: small;
}
#search #advanced_form #labels_advanced_form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: max-content;
  margin-right: 30px;
}
#search #advanced_form #inputs_advanced_form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 80%;
}
#search #advanced_form label, #search #advanced_form input {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
#search #advanced_form input {
  width: 100%;
  max-width: 600px;
  min-width: 100px;
  height: 25px;
  border: 1px solid #dfe1e5;
}
#search #advanced_form label {
  height: 32px;
}
#search #advanced_form #buttons_advanced_form {
  position: absolute;
  bottom: -40%;
  left: 65%;
}
#search #advanced_form #buttons_advanced_form input {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  font-size: small;
}
#search #advanced_form #buttons_advanced_form input:hover {
  box-shadow: -1px -1px lightgray;
  background-color: #3e7ee5;
}

#advanced-title {
  width: 100%;
  color: #d93025;
  font-size: large;
  margin-top: 10px;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

/*# sourceMappingURL=style.css.map */
